---
import Layout from '../layouts/Layout.astro';
import HeaderPresentation from "../components/presentation/header"
import Quotes from "../components/quotes"
import Footer from "../components/footer"
import ServicesSection from "../components/services"
import AboutPresentation from "../components/about"
import Contact from "../components/Contact.astro"

---

<Layout title="SIL SARL">
	<main>
    <HeaderPresentation client:only="react" />
    <ServicesSection client:only="react" />
    <AboutPresentation client:only="react" />
    <Quotes client:only="react" />
    <Contact/>
    <Footer client:only="react" />
  </main>
</Layout>